/* * {
  border: 1px solid red;
} */

body {
  font-family: "Hind Madurai", sans-serif;
}

.navCard {
  background: #41ff6a5b;
  padding: 12px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  width: 125px;
  justify-content: center;
  align-items: center;
}

.navBtn {
  display: flex;
  background-color: #00a63e;
  padding: 12px 36px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}
.card {
  padding: 32px;
  box-shadow: 0 2px 3px #00000040;
  background: white;
}

.category-bt {
  background-color: #f2f2f2;
  padding: 5px 16px;
  font-size: 18px;
  color: #5c5c5c;
  border-radius: 10px;
}
